POSTGRES_USER=pg_admin
POSTGRES_PASSWORD=secret_password
POSTGRES_NON_ROOT_USER=pg_user
POSTGRES_NON_ROOT_PASSWORD=secret_password

REDIS_PASSWORD=secret_password

VIKUNJA_URL=https://tracker.example.io
VIKUNJA_JWT=secret_password
VIKUNJA_POSTGRES_DB_NAME=vikunja
OUTLINE_POSTGRES_DB_NAME=public
N8N_POSTGRES_DB_NAME=n8n
AUTHELIA_POSTGRES_DB_NAME=authelia

OUTLINE_URL=https://docs.example.io
OUTLINE_SECRET_KEY=secret_password  
OUTLINE_UTILS_SECRET=secret_password

MINIO_USER=minio
MINIO_PASSWORD=secret_password  

AUTHELIA_DOMAIN=https://auth.ephdtrg.dev
AUTHELIA_JWT_SECRET=secret_password  
AUTHELIA_SMTP_PASSWORD=secret_password  
AUTHELIA_OUTLINE_OIDC_CLIENT_SECRET=secret_password  
AUTHELIA_VIKUNJA_OIDC_CLIENT_SECRET=secret_password  


N8N_USER=n8n
N8N_PASS=secret_password
N8N_FILES_DIR=.docker_data/n8n-files

